<% const { id = null, link = null, start = null, close = false, onclick = null, style = ''} = locals; %>

<div
  class="w-full text-sm sm:text-base py-2 sm:py-4 px-4 sm:px-6 flex flex-row justify-between bg-blue-200 relative"
  style="background-color: <%= color %>; <%= style %>"
  <%= id ? `id=${id}` : '' %>
>
  <div class="font-medium">
    <b><%= start ? start : 'Important:' %></b>
    <%= message %>
  </div>

  <% if (link) { %>
  <div class="text-gray-900">
    <a target="_blank" href="<%= link %>"><%= linkText %></a>
  </div>
  <% } %>

  <% if (onclick) { %>
    <span class="absolute top-0 bottom-0 right-0 px-4 pt-4"></span>
      <svg
        class="fill-current h-6 w-6 text-<%= color %>-400"
        role="button"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        <%= onclick ? `onclick=${onclick}` : '' %>
      >
        <title><%= __(`Close`) %></title>
        <path
          d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
        />
      </svg>
    </span>
  <% }%>
</div>
