<% const shouldAddAnalytics = !locals.profile; %>


<footer class="custom-section custom-section-footer p-8 pt-32">
  <div class="custom-section-content custom-section-footer-content flex flex-col items-center">
    <a href="https://github.com/BustByte/coronastatus" target="_blank" class="footer-logo-link m-6">
      <img src="/img/github.svg" alt="" class="footer-logo-link__img h-24 w-24">
    </a>
    <div class="footer-links flex flex-row justify-between flex-wrap items-center self-stretch my-8">
      <a class="footer-link text-red-500 font-medium text-xl whitespace-no-wrap">Credits & Thanks</a>
      <span class="footer-link text-red-500 font-medium text-xl whitespace-no-wrap">
        <%= __('Developed by')%>
        <a target="_blank" href="https://bustbyte.no"><%= __('BustByte AS')%></a>
        <%= __('and') %>
        <a href="<%= urls.contributors %>">
          <%= __('volunteers')%>
        </a>
      </span>
      <a
        class="footer-link text-red-500 font-medium text-xl whitespace-no-wrap"
        target="_blank"
        style="font-size: 12px;"
        href="<%= urls.privacyPolicy %>"
        ><%= __('Privacy Policy')%></a
      >
    </div>
  </div>
</footer>

<% if(shouldAddAnalytics) {%>
<!-- Simple Analytics -->
<script async defer src="https://cdn.simpleanalytics.io/hello.js"></script>
<noscript
  ><img src="https://api.simpleanalytics.io/hello.gif" alt=""
/></noscript>
<% } %>
