<% const { show = true, menu = true, home = false, fullscreen = false, lastCommit = false } = locals; %>

<!DOCTYPE html>
<html lang="<%= locals.htmlLang %>">
<!-- <% if (lastCommit) { %>Current commit: https://github.com/BustByte/coronastatus/commits/<%= lastCommit %><% } else { %>Get our code here: https://github.com/BustByte/coronastatus<% } %>  -->
<head>
<%- include('partials/head') -%>
</head>
<body class="flex flex-col">
  <div class="static w-full top-0 left-0 right-0">
    <div class="hidden lg:block">
      <%- include('partials/banner', {
        start: __('NB!'),
        message: __('This page is currently not affiliated with the authorities in any way.'),
        link: urls.privacyPolicy,
        linkText: __('Read how the data you enter is processed here!'),
        color: '#efbc2e'
      }) -%>
      <%- include('partials/banner', {
        start: __('Important'),
        message: __('Use the link you noted down last time to update your health condition'),
        color: '#62C4C3',
        style: 'display: none;',
        id: 'has-submitted-alert',
        onclick: 'hasSubmittedAlertOnClick()'
      }) -%>
    </div>
  </div>

  <div class="main-container flex flex-col flex-grow">

  <% if (menu) { %>
    <section class="custom-section custom-hero p-4 w-full <% if (fullscreen) { %>custom-fullscreen<% } %>">
      <div class="custom-section-content <% if (fullscreen) { %>mx-4<% } else { %>mx-auto<% } %>">
        <header class="py-2 flex justify-between items-center flex-wrap">
          <%- include('partials/logo') -%>
          <%- include('partials/menu') -%>
        </header>
      </div>
    </section>
  <% } %>

  <% if (show && !home) { %>
    <section class="custom-section-content flex-grow mx-auto px-6 lg:px-0">
  <% } %>
