<%
const title =  __('Join us in the most important crowdsource!');
const metaDescription = __('Make your voluntary contribution to the health care system and register your health condition now. Together we can create an overview.');
const baseUrl = locals.baseUrl;
const imageSubfolder = locals.imageSubfolder;
const metaImage1 = `${baseUrl}/static/${imageSubfolder}/social1.png`;
const metaImage2 = `${baseUrl}/static/${imageSubfolder}/social2.png`;
const networkPathReference  = baseUrl.replace(/(^\w+:|^)\/\//, '');
%>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= networkPathReference %></title>
<meta name="description" content="<%= metaDescription %>">


<!-- Open Graph -->
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= metaDescription %>">
<meta property="og:image" content="<%= metaImage1 %>">
<meta property="og:site_name" content="<%= title %>">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="<%= metaDescription %>">
<meta name="twitter:image" content="<%= metaImage2 %>">
<!-- End Twitter -->

<link href="https://fonts.googleapis.com/css?family=Mada:400,400i,700" rel="stylesheet">
<link rel="shortcut icon" href="/static/<%= imageSubfolder %>/favicon.png" type="image/x-icon">
<link rel='stylesheet' href='/static/main.css?v=<%= locals.cacheKey %>' type='text/css' media='all' />
<link rel='stylesheet' href='/static/custom.css?v=<%= locals.cacheKey %>' type='text/css' media='all' />
