<% const { show = true, menu = true, home = false } = locals; %>

<!DOCTYPE html>
<html lang="<%= locals.htmlLang %>">
<head>
<%- include('partials/head') -%>
</head>
<body>
  <div class="static w-full top-0 left-0 right-0">
    <%- include('partials/banner', { start: __('NB!'), message: __('This page is currently not affiliated with the authorities in any way.'), link: urls.privacyPolicy, linkText: __('Read how the data you enter is processed here!'), color: '#efbc2e' }) -%>
    <%- include('partials/banner', { start: __('Important'), message: __('Use the link you noted down last time to update your health condition'), color: '#62C4C3', id: 'has-submitted-alert' }) -%>
  </div>

  <% if (menu) { %>
    <section class="custom-section custom-hero p-4 w-full">
      <div class="custom-section-content">
        <header class="py-2 flex justify-between items-center">
          <%- include('partials/logo') -%>
          <%- include('partials/menu', ) -%>
        </header>
      </div>
    </section>
  <% } %>

  <% if (show && !home) { %>
    <section class="custom-section-content">
  <% } %>
