<%
  const isOnMap = !locals.activePage;
  const isOnProfile = locals.activePage === 'helsetilstand';
  const isOnPrivacyPolicy = locals.activePage === 'personvern';
  const isOnStats = locals.activePage === 'statistikk';
  const useWhiteLogo = locals.useWhiteLogo;
%>

<div class="menu wrapper">
  <div class="inner">
    <div class="logo"><a href="/"><img alt="Logo" src="/static/<%= useWhiteLogo ? 'logo-white.png' : 'logo.png' %>"></a></div>
    <div class="menu__links">
      <a href="/helsetilstand" class="<%= isOnProfile ? 'active' : '' %>">Rapporter din helsetilstand</a>
      <a href="/" class="<%= isOnMap ? 'active' : '' %>">Kart</a>
      <a href="/statistikk" class="<%= isOnStats ? 'active' : '' %>">Statistikk</a>
      <a href="/personvern" class="<%= isOnPrivacyPolicy ? 'active' : '' %>">Personvern</a>
    </div>
    <div class="hamburger-menu-button">
      <i class="fas fa-bars hamburger-menu-icon"></i>
    </div>
  </div>
</div>
