<% const { urls, home = false } = locals; %>
<!-- prettier spacer -->
<% const isOnProfile = locals.activePage === urls.submitReport ||
locals.activePage === urls.profile; %>
<!---->
<% const isOnMap = locals.activePage === urls.map; %>
<!---->
<% const isOnPrivacyPolicy = locals.activePage === urls.privacyPolicy; %>
<!---->
<% const isOnStats = locals.activePage === urls.statistics; %>
<!---->
<% const useWhiteLogo = locals.useWhiteLogo; %>
<!---->
<% const baseUrl = locals.baseUrl; %>
<!---->
<% const imageSubfolder = locals.imageSubfolder; %>

<div class="block lg:hidden">
  <button
    id="nav-toggle"
    class="flex items-center text-cvs-green-light hover:text-cvs-gold"
  >
    <svg
      class="fill-current h-6 w-6"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>Menu</title>
      <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
    </svg>
  </button>
</div>

<nav
  class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0"
  id="nav-content"
>
  <ul
    class="list-reset lg:flex justify-end flex-1 items-center text-right lg:text-left"
  >
    <% if (!home) { %>
    <li class="mr-3 rounded">
      <a
        id="nav-cta-button"
        href="<%- urls.submitReport %>#contribute"
        class="opacity-0 custom-nav-link text-center whitespace-no-wrap block text-xl py-4 lg:text-base text-white font-medium lg:py-4 px-4 rounded-full <%= isOnProfile ? 'active' : '' %>"
        ><%= __("Contribute now") %></a
      >
    </li>
    <% } %>
    <li class="mr-3 rounded hover:bg-cvs-red">
      <a
        href="<%- urls.map %>"
        class="whitespace-no-wrap block text-white text-xl py-4 lg:text-base font-medium lg:py-4 px-4 <%= isOnMap ? 'active' : '' %>"
        ><%= __("Map") %></a
      >
    </li>
    <li class="mr-3 rounded hover:bg-cvs-red">
      <a
        href="<%- urls.statistics %>"
        class="whitespace-no-wrap block text-white text-xl py-4 lg:text-base font-medium lg:py-4 px-4 <%= isOnStats ? 'active' : '' %>"
        ><%= __("Statistics") %></a
      >
    </li>
    <li class="mr-3 rounded hover:bg-cvs-red">
      <a
        href="<%- urls.apiDocs %>"
        class="whitespace-no-wrap block text-white text-xl py-4 lg:text-base font-medium lg:py-4 px-4"
        target="_blank"
        ><%= __("API") %></a
      >
    </li>
  </ul>
</nav>
