<%
  const urls = locals.urls; 
  const isOnProfile = locals.activePage === urls.submitReport || locals.activePage === urls.profile;
  const isOnMap = locals.activePage === urls.map;
  const isOnPrivacyPolicy = locals.activePage === urls.privacyPolicy;
  const isOnStats = locals.activePage === urls.statistics;
  const useWhiteLogo = locals.useWhiteLogo;
  const imageSubfolder = locals.imageSubfolder;
%>

<div class="menu wrapper">
  <div class="inner">
    <div class="logo"><a href="/"><img alt="Logo" src="/static/<%= imageSubfolder %>/<%= useWhiteLogo ? 'logo-white.png' : 'logo.png' %>"></a></div>
    <div class="menu__links">
      <a href="<%= urls.submitReport %>" class="<%= isOnProfile ? 'active' : '' %>">Din helsetilstand</a>
      <a href="<%= urls.map %>" class="<%= isOnMap ? 'active' : '' %>">Kart</a>
      <a href="<%= urls.statistics %>" class="<%= isOnStats ? 'active' : '' %>">Statistikk</a>
      <a href="<%= urls.privacyPolicy %>" class="<%= isOnPrivacyPolicy ? 'active' : '' %>">Personvern</a>
      <a href="<%= urls.apiDocs %>" target="_blank">API</a></li>
    </div>
    <div class="hamburger-menu-button">
      <i class="fas fa-bars hamburger-menu-icon"></i>
    </div>
  </div>
</div>
