<%
  const urls = locals.urls;
  const isOnProfile = locals.activePage === urls.submitReport || locals.activePage === urls.profile;
  const isOnMap = locals.activePage === urls.map;
  const isOnPrivacyPolicy = locals.activePage === urls.privacyPolicy;
  const isOnStats = locals.activePage === urls.statistics;
  const useWhiteLogo = locals.useWhiteLogo;
  const tld = locals.tld;
  const imageSubfolder = locals.imageSubfolder;
%>

<div class="menu wrapper">
  <div class="inner">
    <div class="logo<%= useWhiteLogo && ' white' %>">
      <a href="/">
        <img alt="Logo" src="/static/corona-icon.png" />
        <span class="logo__text">Coronastatus<span class="logo__dot">.</span><span class="logo__tld"><%= tld %></span></span>
      </a>
    </div>
    <div class="menu__links">
      <a href="<%= urls.submitReport %>" class="<%= isOnProfile ? 'active' : '' %>"><%= __("Your state of health") %></a>
      <a href="<%= urls.map %>" class="<%= isOnMap ? 'active' : '' %>"><%= __("Map") %></a>
      <a href="<%= urls.statistics %>" class="<%= isOnStats ? 'active' : '' %>"><%= __("Statistics") %></a>
      <a href="<%= urls.privacyPolicy %>" class="<%= isOnPrivacyPolicy ? 'active' : '' %>"><%= __("Privacy") %></a>
      <a href="<%= urls.apiDocs %>" target="_blank"><%= __("API") %></a></li>
    </div>
    <div class="hamburger-menu-button">
      <i class="fas fa-bars hamburger-menu-icon"></i>
    </div>
  </div>
</div>
