<!DOCTYPE html>
<html lang="no">
  <head>
    <%- include('partials/head') -%>
  </head>
  <body>
    <%- include('partials/disclaimer') -%>
    <%- include('partials/menu') -%>
    <%- include('partials/hamburger-menu') -%>
    <div id="page-wrapper">
      <section id="main" class="wrapper">
        <div class="inner privacy-policy">
          <h1><%= __('Page not found') %></h1>
          <p class="subtitle"><%= __("We can't find the page or service you're looking for") %></p>
          <p>
           <%= __('The link you clicked may be broken, or the page no longer exists') %>
          </p>
        </div>
      </section>
    </div>
    <script src="/static/hamburger-menu.js?v=<%= locals.cacheKey %>"></script>
  </body>
</html>
