<!DOCTYPE html>
<html lang="no">
  <head>
    <%- include('partials/head') -%>
  </head>
  <body>
    <%- include('partials/disclaimer') -%>
    <%- include('partials/menu') -%>
    <%- include('partials/hamburger-menu') -%>
    <div id="page-wrapper">
      <section id="main" class="wrapper">
        <div class="inner privacy-policy">
          <h1>Noe Gikk Galt!</h1>
          <p class="subtitle">Her har det skjedd noe galt. </p>
          <p>Send en mail til
              <a href="mailto:kontakt@bustbyte.no">kontakt@bustbyte.no</a>
              hvis du ikke finner løsningen på problemet.
          </p>
        </div>
      </section>
    </div>
    <script src="/static/hamburger-menu.js?v=<%= locals.cacheKey %>"></script>
  </body>
</html>
