<%- include('partials/header') -%>

<h1><%= __('Something went wrong!') %></h1>
<p><%= __('Something must have gone wrong') %></p>
<%- include('partials/contact') -%>

<%- include('partials/footer') -%>
