<%
  const { passcode, baseUrl, urls } = locals;

%>

<!DOCTYPE html>	
<html lang="no">	
<head>
<%- include('partials/head') -%>	
</head>
<body>
  <%- include('partials/disclaimer') -%>
  <%- include('partials/menu') -%>
  <div id="page-wrapper">
    <section id="main" class="wrapper">	
      <div class="inner">
        <div class="row">
          <div class="col-10 col-12-small">
            <h1>Før du går videre må du ta vare på følgende lenke</h1>
            <p class="subtitle">
              Lagre den følgende lenken et sted, eller opprett et bokmerke til siden.<br/>
              Da kan du gå inn og endre din helsetilstand dersom den endrer seg.
            </p>
            <div class="profile-url">
              <span id="link-to-be-copied"><%= baseUrl %><%= urls.profile %>/<%= passcode %></span>
              <div>
                <button id="profile-url-id" class="copy-icon" data-clipboard-text="<%= baseUrl %><%= urls.profile %>/<%= passcode %>">
                  <i class="fas fa-copy"></i>
                </button>
              </div>
            </div>
            <div id="profile-copy-status-text" class="alert" style="display:none;" role="alert"></div>
            <form method="get" action="<%= urls.profile %>/<%= passcode %>">
              <div class="row">
                <div class="col-12">
                  <input type="hidden" name="success" value="true" />
                  <input required type="checkbox" id="accept" name="accept">
                  <label for="accept" class="normal-font">Jeg har tatt vare på lenken</label>
                </div>
                <div class="col-12">
                  <ul class="actions">
                    <li>
                      <input class="inverse" type="submit" value="Gå videre">
                    </li>
                  </ul>
                </div>
              </div>
            </form>	
          </div>	
        </div>
      </div>
    </section>	
    <%- include('partials/footer') -%>	
  </div>	
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
  <script>	
    // Remove query params from url
    if (window.history.replaceState) {
      window.history.replaceState({}, document.title, window.location.pathname);
    }

    var clipboard = new ClipboardJS('#profile-url-id');
    var statusText = document.getElementById("profile-copy-status-text");

    function setStatusAlert(element,text, alert_class){
        txt = document.createTextNode(text);
        element.appendChild(txt);
        element.style.display = 'block';
        element.classList.add(alert_class);
    }

    clipboard.on('success',function(e){
      if(statusText.style.display == 'none'){
        setStatusAlert(statusText,'Linken er kopiert','alert-success');
      }
    });

    clipboard.on('error',function(e){
      if(statusText.style.display == 'none'){
        setStatusAlert(statusText,'Klarte ikke å kopiere linke til utklippstavlen. Skriv ned linken selv.','alert-error');
      }
    });
  </script>
  <script>
    // This is done so that we can show a hint on the front page that a profile might exist, when entering from the same browser at a later time.
    window.localStorage.setItem("hasSubmittedProfile", "true");
  </script>
</body>	
</html>
