<%- include('partials/header') -%>

<section
  class="max-w-xl sm:mt-20 mx-auto sm:bg-cvs-green sm:rounded-lg py-4 sm:p-10 mx-3"
>
  <% if (hasCookie) { %>

  <h1 class="mt-0 text-3xl sm:text-4xl">
    <%= __(`We stored your data in a cookie so come back later to update your
    status`) %>
  </h1>
  <p class="subtitle">
    <%= __(`If you use this computer with multiple users, please use this link
    to update your status.`) %> <%= __(`Write it down somewhere or save it on
    your computer.`) %>
  </p>

  <% } else { %>

  <h1 class="mt-0 text-3xl sm:text-4xl">
    <%= __(`Before proceeding please note down the following link`) %>
  </h1>
  <p class="subtitle">
    <%= __(`Save the following link somewhere, or bookmark it in your browser.`)
    %>
    <br />
    <%= __(`That way you can update your report if your health condition
    changes.`) %>
  </p>
  <% }%>

  <div
    class="flex-wrap flex sm:flex-no-wrap items-center justify-between mt-4"
    style="max-width: 100%"
  >
    <input
      id="link-to-be-copied"
      type="text"
      readonly
      value="<%= baseUrl %><%= urls.profile %>/<%= passcode %>"
      class="mb-4 h-12 flex-grow w-auto flex-shrink mr-4 bg-gray-200 appearance-none border-2 border-black rounded py-2 px-4 leading-tight focus:outline-none"
    />
    <button
      id="profile-url-id"
      class="mb-4 h-12 rounded"
      data-clipboard-text="<%= baseUrl %><%= urls.profile %>/<%= passcode %>"
    >
      <%= __(`Copy`) %>
    </button>
  </div>

  <!-- If you change the color make sure it's in postcss.config.js -->
  <%- include('partials/alert', { color: 'blue', class: `mb-4 hidden`, id:
  `profile-copy-status-success`, message: __(`The link has been copied.`) })-%>

  <!-- If you change the color make sure it's in postcss.config.js -->
  <%- include('partials/alert', { color: 'red', class: `mb-4 hidden`, id:
  `profile-copy-status-fail`, message: __(`Could not copy the link, please copy
  it yourself`) }) -%>

  <form method="get" action="/thank-you">
    <% if (!hasCookie) { %>
    <p class="mt-4">
      <label class="checkbox" for="accept">
        <input required type="checkbox" id="accept" name="accept" />
        <span><%= __(`I've noted down the link.`)%></span>
        <span class="checkmark"></span>
      </label>
    </p>
    <% } %>

    <p class="my-4">
      <input class="inverse button" type="submit" value="<%= __('Proceed') %>" />
    </p>
  </form>
</section>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"
  integrity="sha384-8CYhPwYlLELodlcQV713V9ZikA3DlCVaXFDpjHfP8Z36gpddf/Vrt47XmKDsCttu"
  crossorigin="anonymous"
></script>

<script>
  var clipboard = new ClipboardJS('#profile-url-id');
  var successElement = document.getElementById('profile-copy-status-success');
  var failElement = document.getElementById('profile-copy-status-fail');

  clipboard.on('success', function(e) {
    successElement.style.display = 'block';
  });

  clipboard.on('error', function(e) {
    failElement.style.display = 'block';
  });
</script>

<script>
  // This is done so that we can show a hint on the front page that a profile might exist
  // when entering from the same browser at a later time.
  var hasCookie = 'true' === '<%= hasCookie %>';
  if (!hasCookie) {
    window.localStorage.setItem('isUsingPasscodeLink', 'true');
  }
</script>

<%- include('partials/footer') -%>
