<!DOCTYPE html>
<html lang="<%= locals.htmlLang %>">
<head>
  <%- include('partials/head') -%>
</head>
<body>
  <%- include('partials/disclaimer') -%>
  <%- include('partials/menu') -%>
  <%- include('partials/hamburger-menu') -%>
    <div id="page-wrapper">
      <section id="main" class="wrapper">
        <div class="inner privacy-policy">
            <h1><%= __('Contributors') %></h1>
            <p class="with-top-margin"><%= __("This website is made with help from volunteers. In no particular order:") %></p>
            <ul>
              <li>Kristoffer Sundmyhr</li>
              <li>Jan Magne Andersen</li>
              <li>Arild Øren Wanvik</li>
              <li>Marius Kalvø</li>
              <li>Rina Andriana</li>
              <li>William Benjamin Rode</li>
              <li>Kai H T Mortensen-Langhaug</li>
              <li>Kåre Digernes</li>
              <li><a target="_blank" href="https://github.com/BustByte/coronastatus.no/graphs/contributors"><%= __("...and others") %></a></li>
            </ul>
            <p><%= __("The code for the website can be found") %> <a href="https://github.com/BustByte/coronastatus.no"><%= __("here") %></a>.
        </div>
    </section>
    <%- include('partials/footer') -%>
  </div>
  <script src="/static/hamburger-menu.js?v=<%= locals.cacheKey %>"></script>
</body>
</html>
