<%- include('partials/header') -%>

<h1><%= __(`Thank you for your contribution!`) %></h1>
<p class="subtitle">
  <%= __(`The government has now launched their own self-report system, please
  use that instead.`) %>
</p>
<ul class="actions">
  <li>
    <a
      target="_blank"
      class="button next"
      style="cursor: pointer;"
      href="<%= __('https://who.org') %>"
      ><%= __(`Go to the National health service website`) %></a
    >
  </li>
</ul>

<%- include('partials/footer') -%>
