<!DOCTYPE html>
<html lang="<%= locals.htmlLang %>">
  <head>
    <%- include('partials/head') -%>
  </head>
  <body>
    <%- include('partials/disclaimer') -%>
    <%- include('partials/menu') -%>
    <%- include('partials/hamburger-menu') -%>
    <div id="page-wrapper">
      <section id="main" class="wrapper">
        <div class="inner privacy-policy">
          <h1><%= __('Thank you for your contribution!') %></h1>
          <p class="subtitle"><%= __('The government has now launched their own self-report system, please use that instead.') %></p>
          <ul class="actions">
            <li><a target="_blank" class="button next" style="cursor: pointer;" href="<%= __('https://who.org') %>"><%= __('Go to the National health service website') %></a></li>
          </ul>
        </div>
      </section>
    </div>
    <%- include('partials/footer') -%>
    <script src="/static/hamburger-menu.js?v=<%= locals.cacheKey %>"></script>
  </body>
</html>
