<%- include('partials/header', { show: true }) -%>

<section>
  <h1><%= __("Rate limit exceeded") %></h1>
  <p class="with-top-margin">
    <%= __(`Number of report submissions from your IP address exceeded 
    allowed limit. Report was not saved.`) %>
  </p>
  <p class="with-top-margin">
    <%= __(`Please, try again later.`) %>
  </p>
  <%- include('partials/contact') -%>
</section>

<%- include('partials/footer', { show: true }) -%>
