<%
  const profile = locals.profile;
  const passcode = locals.passcode;
  const age = profile && locals.profile.age;
  const postalCode = profile && locals.profile.postalCode;
  const sex = profile && locals.profile.sex;
  const hasBeenTested = profile && locals.profile.hasBeenTested;
  const hasBeenInContactWithInfected = profile && locals.profile.hasBeenInContactWithInfected;
  const symptomStart = profile && locals.profile.symptomStart;
  const testResult = profile && locals.profile.testResult;
  const symptoms = profile && locals.profile.symptoms;
  const symptomDryCough = symptoms && symptoms['DRY_COUGH'];
  const symptomFatigue = symptoms && symptoms['EXHAUSTION'];
  const symptomFever = symptoms && symptoms['FEVER'];
  const symptomHeavyBreathing = symptoms && symptoms['HEAVY_BREATHING'];
  const symptomMuscleAching = symptoms && symptoms['MUSCLE_ACHING'];
  const symptomDiarrhea = symptoms && symptoms['DIARRHEA'];
  const symptomHeadache = symptoms && symptoms['HEADACHE'];
  const symptomSoreThroat = symptoms && symptoms['SORE_THROAT'];
  const symptomNoSmell = symptoms && symptoms['NO_SMELL'];
  const symptomNoTaste = symptoms && symptoms['NO_TASTE'];
  const symptomSlimeCough = symptoms && symptoms['SLIME_COUGH'];
  const symptomRunnyNose = symptoms && symptoms['RUNNY_NOSE'];

  function numberWithSpaces(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
}
%>

<!DOCTYPE html>
<html lang="no">
<head>
<%- include('partials/head') -%>
</head>
<body>
  <%- include('partials/disclaimer') -%>
  <div id="has-submitted-alert" class="alert-dismissible wrapper">
    <div class="inner">
      <button class="close" onclick="hasSubmittedAlertOnClick()">&times;
      </button>
      <div><b>Husk:</b> For å endre din helsetilstand, bruk lenken du fikk ved registrering.</div>
    </div>
  </div>
  <%- include('partials/menu') -%>
  <div id="page-wrapper">
    <section id="main" class="wrapper">
      <div class="inner">
        <div class="info-box-row">
          <div class="info-box main-info">
            <div class="info-box__icon">
              <div class="info-box__icon__circle">
                <i class="fas fa-question"></i>
              </div>
            </div>
            <div class="info-box__content">
              <p class="info-box__bolder">Mørketallene på smittede i Norge er store.</p>
              <p class="info-box__bolder">Denne nettsiden har som mål å få en bedre oversikt over spredning av coronaviruset i landet vårt.</p>
              <p>Nettsiden er laget i dugnadsånd av et lite konsulentselskap i samarbeid med frivillige. Rapportering er frivillig.</p>
              <p>Så fort myndighetene er klare for å motta dataene vi samler inn, står vi klare til å overlevere dem!</p>
            </div>
          </div>
          <div class="info-box stats" id="total-reports">
            <div class="stats__number"><%= numberWithSpaces(aggregated.numberOfReports) %></div>
            <div class="stats__description">Totalt innsendte</div>
          </div>
          <div class="info-box stats">
            <div class="stats__number"><%= numberWithSpaces(aggregated.numberOfPeopleShowingSymptoms) %></div>
            <div class="stats__description">Har symptomer</div>
          </div>
          <!-- Outcommented until we have added stats on the map page
          <a href="/kart" class="info-box link-to-stats">
            <i class="fas fa-chevron-right"></i>
          </a>
          -->
        </div>
        <% if(locals.didNotAcceptPrivacyPolicy) {%>
          <div class="alert alert-danger" role="alert">
            Du må godkjenne personvernerklæringen for å rapportere dine data.
          </div>
        <% } %>
        <h1><%= profile ? 'Din helsetilstand' : 'Rapporter din helsetilstand' %></h1>
        <% if(locals.success) {%>
          <div class="alert alert-success" role="alert">
            Takk for ditt svar! Klikk på denne lenken hvis helsetilstanden din endrer seg: <a target="_blank" href="/helsetilstand/<%= passcode %>">coronastatus.no/helsetilstand/<%= passcode %></a>. 
          </div>
        <% } else { %>
          <p class="slogan">Bli med på Norges viktigste dugnad!</p>
        <% } %>
        <%- include('partials/share') -%>
        <form method="post" action="/">
          <h2>Geografi og demografi</h2>
          <div class="row">
            <div class="col-5 col-12-small input-block">
              <label class="with-top-margin" for="age">Din alder</label>
              <select required name="age" id="Age">
                <option value="" disabled selected>Velg din alder</option>
                <% for(var i=0; i<100; i+=10) {
                  const ageSpan = `${i} - ${i + 9}`;
                %>
                  <option value="<%= ageSpan %>" <%= age === `${ageSpan}` ? 'selected' : '' %>><%= ageSpan %></option>
                <% } %>
              </select>
            </div>
            <div class="col-5 col-12-small input-block">
              <label  class="with-top-margin">Biologisk kjønn</label>
              <div class="row">
                <div class="col-6">
                  <input required type="radio" id="gender-female" name="gender" value="female" <%= sex === 'FEMALE' ? 'checked' : '' %>>
                  <label for="gender-female">Kvinne</label>
                </div>
                <div class="col-6">
                  <input required type="radio" id="gender-male" name="gender" value="male" <%= sex === 'MALE' ? 'checked' : '' %>>
                  <label for="gender-male">Mann</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5 col-12-small input-block">
              <label class="with-top-margin" for="postal-code">Postnummer</label>
              <input required type="text" pattern="[0-9]{4}" maxlength="4" name="postal-code" id="postal-code" placeholder="1234" value="<%= postalCode %>">
            </div>
          </div>
          <h2>Testing og symptomper</h2>
          <div class="row">
            <div class="col-10 col-12-small input-block">
              <label  class="with-top-margin">Har du vært i <a target="_blank" href="https://www.fhi.no/nettpub/coronavirus/helsepersonell/definisjoner-av-mistenkte-og-bekreftede-tilfeller-med-koronavirus-coronavir/">nærkontakt</a> med noen som har testet positivt på COVID-19?</label>
              <div class="row">
                <div class="col-3">
                  <input required type="radio" id="been-in-contact-with-yes" name="been-in-contact-with" value="yes" <%= hasBeenInContactWithInfected ? 'checked' : '' %>>
                  <label for="been-in-contact-with-yes">Ja</label>
                </div>
                <div class="col-3">
                  <input required type="radio" id="been-in-contact-with-no" name="been-in-contact-with" value="no" <%= hasBeenInContactWithInfected === false ? 'checked' : '' %>>
                  <label for="been-in-contact-with-no">Nei</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5 col-12-small input-block">
              <label  class="with-top-margin">Har du blitt testet for COVID-19?</label>
              <div class="row">
                <div class="col-6">
                  <input required type="radio" id="been-tested-yes" name="been-tested" value="yes" onclick="changeTestResultDisplay(true)" <%= hasBeenTested ? 'checked' : '' %>>
                  <label for="been-tested-yes">Ja</label>
                </div>
                <div class="col-6">
                  <input required type="radio" id="been-tested-no" name="been-tested" value="no" onclick="changeTestResultDisplay(false)" <%= hasBeenTested === false ? 'checked' : '' %>>
                  <label for="been-tested-no">Nei</label>
                </div>
              </div>
            </div>
            <div class="col-5 col-12-small input-block" id="test-result-question" style="display:none">
              <label  class="with-top-margin">Hva var svaret på testen?</label>
              <div class="row">
                <div class="col-12">
                  <input type="radio" id="test-response-positive" name="test-response" value="positive" <%= testResult === 'POSITIVE' ? 'checked' : '' %>>
                  <label for="test-response-positive">Positivt</label>
                </div>
                <div class="col-12">
                  <input type="radio" id="test-response-negative" name="test-response" value="negative" <%= testResult === 'NEGATIVE' ? 'checked' : '' %>>
                  <label for="test-response-negative">Negativt</label>
                </div>
                <div class="col-12">
                  <input type="radio" id="test-response-pending" name="test-response" value="pending" <%= testResult === 'PENDING' ? 'checked' : '' %>>
                  <label for="test-response-pending">Venter på svar</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5 col-12-small input-block">
              <label class="with-top-margin">Symptomer du har hatt</label>
              <p class="info">Ikke velg noen dersom du ikke har hatt symptomer</p>
              <div class="row">
                <div class="col-12">
                  <input type="checkbox" id="symptom-cough" name="symptom-cough" <%= symptomDryCough ? 'checked' : '' %>>
                  <label for="symptom-cough">Tørrhoste</label>
                </div>
                <div class="col-12">
                  <input type="checkbox" id="symptom-slime-cough" name="symptom-slime-cough" <%= symptomSlimeCough ? 'checked' : '' %>>
                  <label for="symptom-slime-cough">Slimhoste</label>
                </div>
                <div class="col-12">
                  <input type="checkbox" id="symptom-fatigue" name="symptom-fatigue" <%= symptomFatigue ? 'checked' : '' %>>
                  <label for="symptom-fatigue">Slitenhet eller utmattelse</label>
                </div>
                <div class="col-12">
                  <input type="checkbox" id="symptom-fever" name="symptom-fever" <%= symptomFever ? 'checked' : '' %>>
                  <label for="symptom-fever">Feber</label>
                </div>
                <div class="col-12">
                  <input type="checkbox" id="symptom-heavy-breath" name="symptom-heavy-breath" <%= symptomHeavyBreathing ? 'checked' : '' %>>
                  <label for="symptom-heavy-breath">Tung pust</label>
                </div>
                <div class="col-12">
                  <input type="checkbox" id="symptom-muscle-pain" name="symptom-muscle-pain" <%= symptomMuscleAching ? 'checked' : '' %>>
                  <label for="symptom-muscle-pain">Muskelsmerter</label>
                </div>
                <div class="col-12">
                  <input type="checkbox" id="symptom-diarrhea" name="symptom-diarrhea" <%= symptomDiarrhea ? 'checked' : '' %>>
                  <label for="symptom-diarrhea">Diaré</label>
                </div>
                <div class="col-12">
                  <input type="checkbox" id="symptom-headache" name="symptom-headache" <%= symptomHeadache ? 'checked' : '' %>>
                  <label for="symptom-headache">Hodepine</label>
                </div>
                <div class="col-12">
                  <input type="checkbox" id="symptom-sore-throat" name="symptom-sore-throat" <%= symptomSoreThroat ? 'checked' : '' %>>
                  <label for="symptom-sore-throat">Vondt i halsen</label>
                </div>
                <div class="col-12">
                  <input type="checkbox" id="symptom-no-smell" name="symptom-no-smell" <%= symptomNoSmell ? 'checked' : '' %>>
                  <label for="symptom-no-smell">Tap av luktesans</label>
                </div>
                <div class="col-12">
                  <input type="checkbox" id="symptom-no-taste" name="symptom-no-taste" <%= symptomNoTaste ? 'checked' : '' %>>
                  <label for="symptom-no-taste">Tap av smakssans</label>
                </div>
                <div class="col-12">
                  <input type="checkbox" id="symptom-runny-nose" name="symptom-runny-nose" <%= symptomRunnyNose ? 'checked' : '' %>>
                  <label for="symptom-runny-nose">Tett eller rennende nese</label>
                </div>
              </div>
            </div>
            <div id="symptom-start-question" class="col-5 col-12-small input-block" style="display: none;">
              <label class="with-top-margin" for="symptom-start">Når startet symptomene?</label>
              <input type="date" name="symptom-start" id="symptom-start" value="<%= symptomStart %>">
            </div>
          </div>
          <h2>Hvordan blir dataene mine brukt?</h2>
          <p class="privacy-info-text">Dine helseopplysninger blir lagret anonymisert, og kan ikke kobles til deg.<br/><a target="_blank" href="/personvern">Vår personvernerklæring finner du her</a>.</p>
          <div class="row">
            <div class="col-12 input-block">
              <input required type="checkbox" id="accept-privacy-policy" name="accept-privacy-policy" <%= passcode ? 'checked' : '' %>>
              <label for="accept-privacy-policy" class="normal-font">Jeg godtar at mine data lagres i henhold til personvernerklæringen</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12 input-block">
              <ul class="actions">
                <li>
                  <input type="hidden" name="passcode" value="<%= passcode %>" />
                  <input class="inverse" type="submit" value="Send inn rapportering">
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </section>
    <%- include('partials/footer') -%>
  </div>
  <script>
    function hasSubmittedAlertOnClick() {
        document.getElementById('has-submitted-alert').style.display = 'none';
        window.localStorage.setItem("hasCrossedOutInfo", "true");
    }

    if (window.localStorage.getItem("hasSubmittedProfile") === "true"
        && window.localStorage.getItem("hasCrossedOutInfo") !== "true"
        && window.location.pathname.indexOf("helsetilstand") === -1) {
        document.getElementById('has-submitted-alert').style.display = 'flex';
    }
    // Remove query params from url
    if (window.history.replaceState) {
      window.history.replaceState({}, document.title, window.location.pathname);
    }
  </script>
  <script src="/static/form.js"></script>
</body>
</html>
