<%
  const {
    profile,
    passcode,
    baseUrl,
    urls
  } = locals;
  const age = profile && locals.profile.age;
  const postalCode = profile && locals.profile.postalCode;
  const sex = profile && locals.profile.sex;
  const hasBeenTested = profile && locals.profile.hasBeenTested;
  const hasBeenInContactWithInfected = profile && locals.profile.hasBeenInContactWithInfected;
  const symptomStart = profile && locals.profile.symptomStart;
  const testResult = profile && locals.profile.testResult;
  const bodyTemperature = profile && locals.profile.bodyTemperature;
  const isolationStatus = profile && locals.profile.isolationStatus;
  const smokingHabit = profile && locals.profile.smokingHabit;
  const diagnosedWithOtherConditions = profile && locals.profile.diagnosedWithOtherConditions;
  const symptoms = profile && locals.profile.symptoms;
  const symptomDryCough = symptoms && symptoms['DRY_COUGH'];
  const symptomFatigue = symptoms && symptoms['EXHAUSTION'];
  const symptomFever = symptoms && symptoms['FEVER'];
  const symptomHeavyBreathing = symptoms && symptoms['HEAVY_BREATHING'];
  const symptomMuscleAching = symptoms && symptoms['MUSCLE_ACHING'];
  const symptomDiarrhea = symptoms && symptoms['DIARRHEA'];
  const symptomHeadache = symptoms && symptoms['HEADACHE'];
  const symptomSoreThroat = symptoms && symptoms['SORE_THROAT'];
  const symptomNoSmell = symptoms && symptoms['NO_SMELL'];
  const symptomNoTaste = symptoms && symptoms['NO_TASTE'];
  const symptomSlimeCough = symptoms && symptoms['SLIME_COUGH'];
  const symptomRunnyNose = symptoms && symptoms['RUNNY_NOSE'];
  const symptomNauseaOrVomiting = symptoms && symptoms['NAUSEA_OR_VOMITING'];

  function numberWithSpaces(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
}
%>

<%- include('partials/header', { home: true, menu: false }) -%>

<section class="custom-section custom-hero p-4">
  <div class="custom-section-content mx-auto">
    <header class="py-2 flex justify-between items-center flex-wrap">
      <%- include('partials/logo') -%>
      <%- include('partials/menu', { home: true }) -%>
    </header>
    <div class="my-8 flex flex-row flex-wrap justify-between">
      <%- include('partials/cta') -%>

      <%- include('partials/app-feature-block', {
        image: '/static/images/hospital.svg',
        title: __('Unreported cases'),
        description: __('The spread of COVID-19 in our country is unknown. Help us create a better overview.')
      }) -%>

      <%- include('partials/app-feature-block', {
        image: '/static/images/doctor.svg',
        title: __('Contribute anonymously'),
        description: __('Report your health condition anonymously')
      }) -%>

      <%- include('partials/app-feature-block', {
        image: '/static/images/research.svg',
        title: __('Insight for everyone'),
        description: __('The data is open to everyone. Look at maps and graphs, or download the data and create your own visualizations.')
      }) -%>

      <%- include('partials/app-feature-block', {
        image: '/static/images/mobile.svg',
        title: __('Everything is open'),
        description: __('The website is open source and built by volunteers. Feel free to join.')
      }) -%>
    </div>
  </div>
</section>

<section class="custom-section p-4">
  <div class="custom-section-content mx-auto">
    <h2 class="sr-only"><%= __('Numbers') %></h2>
    <ul class="my-8 flex flex-row flex-wrap justify-between">
      <%- include('partials/app-stats-block', {
        image: '/static/images/napkin.svg',
        title: __('Total reports'),
        number: numberWithSpaces(aggregated.numberOfReports)
      }) -%>

      <%- include('partials/app-stats-block', {
        image: '/static/images/temperature-check.svg',
        title: __('Infected / Have been tested'),
        number: `${numberWithSpaces(aggregated.numberOfConfirmedInfected)}/${numberWithSpaces(aggregated.numberOfTested)}`
      }) -%>

      <%- include('partials/app-stats-block', {
        image: '/static/images/transfer.svg',
        title: __(`In close contact with someone who's infected`),
        number: numberWithSpaces(aggregated.numberOfContacts)
      }) -%>

      <%- include('partials/app-stats-block', {
        image: '/static/images/symptoms.svg',
        title: __('Has symptoms'),
        number: numberWithSpaces(aggregated.numberOfPeopleShowingSymptoms)
      }) -%>
    </ul>
  </div>
</section>

<% if(locals.didNotAcceptPrivacyPolicy) {%>
  <div class="" role="alert">
    <%= __("You must approve the privacy statement to report your data.") %>
  </div>
<% } %>
<section class="w-full self-center text-center m-8">
<%- include('partials/share') -%>
</section>
<section class="custom-section-content mx-auto p-4 pb-24 w-full">
  <form id="contribute" method="post" action="/" class="custom-form p-6 py-6 lg:p-24 lg:py-12 my-4 rounded-lg flex flex-col items-start">
    <h3 class="text-2xl md:text-3xl lg:text-5xl text-center font-bold text-cvs-red m-2 self-center">
      <%= profile ? __("Your state of health") : __("Report your health condition") %>
    </h3>
    <% if (locals.redirectToGovernment) {%>
      <!-- If you change the color make sure it's in postcss.config.js -->
      <%- include('partials/alert', {
        color: 'red',
        message:
          `${__(`Thank you for your contribution!`)}
          ${__(`The government has now launched their own self-report system, please use that instead.`)}
          <br/>
          <a
            class="hover:text-cvs-red font-bold hover:underline whitespace-no-wrap"
            target="_blank"
            style="cursor: pointer;"
            href="${__('www.nhs.uk')}"
          >
            ${__(`Go to the National health service website`)}
          </a>`,
      }) -%>
    <% } else if (locals.success) {%>
      <!-- If you change the color make sure it's in postcss.config.js -->
      <%- include('partials/alert', {
        color: 'blue',
        message:
          `${__(`Thank you for your contribution!`)}
          ${__(`If you want to register another person on this computer, save or write down your personal link`)}
          <strong>${baseUrl}${urls.profile}/${passcode}</strong>
          ${__("and")}
          <a href="${urls.profile}/${passcode}?clear=true" class="font-bold hover:text-cvs-red hover:underline"> ${ __(`clear this form`)}.</a>`,
      }) -%>
    <% } else if (locals.cleared) {%>
      <!-- If you change the color make sure it's in postcss.config.js -->
      <%- include('partials/alert', {
        color: 'blue',
        message:
          `${__("Your personal health information is cleared from this computer.")}
          ${__("You can now use this computer for another user.")}`,
      }) -%>
    <% } else if (locals.passcode) {%>
      <!-- If you change the color make sure it's in postcss.config.js -->
      <%- include('partials/alert', {
        color: 'blue',
        message:
          `${__(`Below is your personal health information.`)}
          ${__(`If you want to register another person on this computer, save or write down your personal link`)}
          <strong>${baseUrl}${urls.profile}/${passcode}</strong>
          ${__("and")}
          <a href="${urls.profile}/${passcode}?clear=true" class="font-bold hover:text-cvs-red hover:underline"> ${ __(`clear this form`)}.</a>`,
      }) -%>
    <% } else { %>
      <p class="text-center text-base lg:text-xl font-medium m-4 mt-0 self-center">
        <%= __("Are you from") %> <%= __(locals.country) %>?
        <%- __("Join the most important crowdsource! Regardless if you're healthy or not, please submit the form below – that is also valuable information!") %></p>
    <% } %>

    <div class="flex flex-row items-center mt-8">
      <img src="/static/images/map.svg" alt="" class="h-16 w-16">
      <h3 class="text-cvs-red text-xl font-bold m-4"><%= __("Geography and demography") %></h3>
    </div>


    <label class="text-h4" for="Age"><%= __("Your age") %></label>
    <select required name="age" id="Age">
      <option value="" disabled selected><%= __("Choose your age") %></option>
      <% for(var i=0; i<100; i+=10) {
        const ageSpan = `${i} - ${i + 9}`;
      %>
        <option value="<%= ageSpan %>" <%= age === `${ageSpan}` ? 'selected' : '' %>><%= ageSpan %></option>
      <% } %>
    </select>

    <fieldset>
    <legend><%= __("Biological gender") %></legend>
    <p class="mb-2">
      <input required type="radio" id="gender-female" name="gender" value="female" <%= sex === 'FEMALE' ? 'checked' : '' %>>
      <label for="gender-female"><%= __("Female") %></label>
    </p>
    <p class="mb-2">
      <input required type="radio" id="gender-male" name="gender" value="male" <%= sex === 'MALE' ? 'checked' : '' %>>
      <label for="gender-male"><%= __("Male") %></label>
    </p>
    <p class="mb-2">
      <input required type="radio" id="gender-other" name="gender" value="other" <%= sex === 'OTHER' ? 'checked' : '' %>>
      <label for="gender-other"><%= __("Other") %></label>
    </p>
    </fieldset>

    <label for="postal-code"><%= __('Zip code') %>
      <% if (locals.zipGuide) { %>
        <span>- </span><a class="text-cvs-red font-bold hover:underline" href="<%= __(`https://www.whatismyzip.com`) %>" target="_blank"><%= __('What is my Zip code?') %></a>
      <% } %>
    </label>
    <input class="appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required type="text" pattern="[A-Za-z0-9]{<%= locals.zipLength %>}" maxlength="<%= locals.zipLength %>" name="postal-code" id="postal-code" placeholder="<%= locals.zipPlaceHolder %>" value="<%= postalCode %>">

    <div class="flex flex-row items-center mt-8">
      <img src="/static/images/mask.svg" alt="" class="h-16 w-16">
      <h3 class="text-cvs-red text-xl font-bold m-4"><%= __("Testing and symptoms") %></h3>
    </div>

    <fieldset>
    <legend><%= __("Have you been in close contact with someone who was tested positive for COVID-19?") %></legend>

    <p>
      <input required type="radio" id="been-in-contact-with-yes" name="been-in-contact-with" value="yes" <%= hasBeenInContactWithInfected ? 'checked' : '' %>>
      <label class="mr-4" for="been-in-contact-with-yes"><%= __('Yes') %></label>

      <input required type="radio" id="been-in-contact-with-no" name="been-in-contact-with" value="no" <%= hasBeenInContactWithInfected === false ? 'checked' : '' %>>
      <label for="been-in-contact-with-no"><%= __('No') %></label>
    </p>
    </fieldset>


    <fieldset>
    <legend><%= __('Have you been tested for COVID-19?')%></legend>
    <p>
        <input required type="radio" id="been-tested-yes" name="been-tested" value="yes" onclick="changeTestResultDisplay(true)" <%= hasBeenTested ? 'checked' : '' %>>
        <label class="mr-4" for="been-tested-yes"><%= __('Yes')%></label>

        <input required type="radio" id="been-tested-no" name="been-tested" value="no" onclick="changeTestResultDisplay(false)" <%= hasBeenTested === false ? 'checked' : '' %>>
        <label for="been-tested-no"><%= __('No')%></label>
    </p>
    <fieldset>

    <div id="test-result-question" style="display: none;">
      <fieldset>
      <legend><%= __('What was the result?')%></legend>

      <p>
        <input type="radio" id="test-response-positive" name="test-response" value="positive" <%= testResult === 'POSITIVE' ? 'checked' : '' %>>
        <label class="mr-4 mb-4" for="test-response-positive"><%= __('Positive')%></label>

        <input type="radio" id="test-response-negative" name="test-response" value="negative" <%= testResult === 'NEGATIVE' ? 'checked' : '' %>>
        <label class="mr-4 mb-4" for="test-response-negative"><%= __('Negative') %></label>

        <input type="radio" class="mb-4" id="test-response-pending" name="test-response" value="pending" <%= testResult === 'PENDING' ? 'checked' : '' %>>
        <label for="test-response-pending"><%= __('Waiting for result') %></label>
      </p>
      </fieldset>
    </div>

    <fieldset>
    <legend class="mb-0"><%= __('Symptoms you have experienced') %></legend>
    <p class="mb-4"><%- __('Select only the symptoms you have experienced') %></p>

    <label class="checkbox" for="symptom-cough">
      <input type="checkbox" id="symptom-cough" name="symptom-cough" <%= symptomDryCough ? 'checked' : '' %>>
      <span><%= __('Dry cough') %></span>
      <span class="checkmark"></span>
    </label>

    <label class="checkbox" for="symptom-slime-cough">
      <input type="checkbox" id="symptom-slime-cough" name="symptom-slime-cough" <%= symptomSlimeCough ? 'checked' : '' %>>
      <span><%= __('Mucus cough') %></span>
      <span class="checkmark"></span>
    </label>

    <label class="checkbox" for="symptom-fatigue">
      <input type="checkbox" id="symptom-fatigue" name="symptom-fatigue" <%= symptomFatigue ? 'checked' : '' %>>
      <span><%= __('Fatigue and exhaustion') %></span>
      <span class="checkmark"></span>
    </label>

    <label class="checkbox" for="symptom-fever">
      <input type="checkbox" id="symptom-fever" name="symptom-fever" <%= symptomFever ? 'checked' : '' %>>
      <span><%= __('Fever') %></span>
      <span class="checkmark"></span>
    </label>

    <label class="checkbox" for="symptom-heavy-breath">
      <input type="checkbox" id="symptom-heavy-breath" name="symptom-heavy-breath" <%= symptomHeavyBreathing ? 'checked' : '' %>>
      <span><%= __('Shortness of breath') %></span>
      <span class="checkmark"></span>
    </label>

    <label class="checkbox" for="symptom-muscle-pain">
      <input type="checkbox" id="symptom-muscle-pain" name="symptom-muscle-pain" <%= symptomMuscleAching ? 'checked' : '' %>>
      <span><%= __('Muscle pain') %></span>
      <span class="checkmark"></span>
    </label>

    <label class="checkbox" for="symptom-diarrhea">
      <input type="checkbox" id="symptom-diarrhea" name="symptom-diarrhea" <%= symptomDiarrhea ? 'checked' : '' %>>
      <span><%= __('Diarrhea') %></span>
      <span class="checkmark"></span>
    </label>

    <label class="checkbox" for="symptom-headache">
      <input type="checkbox" id="symptom-headache" name="symptom-headache" <%= symptomHeadache ? 'checked' : '' %>>
      <span><%= __('Headache') %></span>
      <span class="checkmark"></span>
    </label>

    <label class="checkbox" for="symptom-sore-throat">
      <input type="checkbox" id="symptom-sore-throat" name="symptom-sore-throat" <%= symptomSoreThroat ? 'checked' : '' %>>
      <span><%= __('Sore throat') %></span>
      <span class="checkmark"></span>
    </label>

    <label class="checkbox" for="symptom-no-smell">
      <input type="checkbox" id="symptom-no-smell" name="symptom-no-smell" <%= symptomNoSmell ? 'checked' : '' %>>
      <span><%= __('Loss of sense of smell') %></span>
      <span class="checkmark"></span>
    </label>

    <label class="checkbox" for="symptom-no-taste">
      <input type="checkbox" id="symptom-no-taste" name="symptom-no-taste" <%= symptomNoTaste ? 'checked' : '' %>>
      <span><%= __('Loss of sense of taste') %></span>
      <span class="checkmark"></span>
    </label>

    <label class="checkbox" for="symptom-runny-nose">
      <input type="checkbox" id="symptom-runny-nose" name="symptom-runny-nose" <%= symptomRunnyNose ? 'checked' : '' %>>
      <span><%= __('Stuffy or runny nose') %></span>
      <span class="checkmark"></span>
    </label>

    <label class="checkbox" for="symptom-nausea-or-vomiting">
      <input type="checkbox" id="symptom-nausea-or-vomiting" name="symptom-nausea-or-vomiting" <%= symptomNauseaOrVomiting ? 'checked' : '' %>>
      <span><%= __('Nausea or vomiting') %></span>
      <span class="checkmark"></span>
    </label>
    </fieldset>

    <div id="symptom-start-question" style="display: none;">
      <label for="symptom-start"><%= __('When did the symptoms start?')%></label>
      <input
        class="appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="date"
        name="symptom-start"
        id="symptom-start"
        value="<%= symptomStart %>">
    </div>

    <fieldset>
    <legend class="mb-0"><%= __('Have you been diagnosed with any of the following conditions?')%></legend>
    <p class="mb-4"><%= __('Diabetes mellitus, Hypertension, Ischemic heart disease, Asthma, Chronic lung disease, Chronic kidney disease') %></p>
    <p>
        <input required type="radio" id="diagnosed-other-conditions-yes" name="diagnosed-other-conditions" value="yes" <%= diagnosedWithOtherConditions ? 'checked' : '' %>>
        <label class="mr-4" for="diagnosed-other-conditions-yes"><%= __('Yes')%></label>

        <input required type="radio" id="diagnosed-other-conditions-no" name="diagnosed-other-conditions" value="no" <%= diagnosedWithOtherConditions === false ? 'checked' : '' %>>
        <label for="diagnosed-other-conditions-no"><%= __('No')%></label>
    </p>
    </fieldset>

    <fieldset>
    <legend><%= __('I am currently:')%></legend>
    <p class="mb-2">
      <input required type="radio" id="not-in-isolation" name="isolation-status" value="not-in-isolation" <%= isolationStatus === 'NOT_IN_ISOLATION' ? 'checked' : '' %>>
      <label for="not-in-isolation"><%= __("Not in isolation") %></label>
    </p>
    <p class="mb-2">
      <input required type="radio" id="isolation-due-to-travel" name="isolation-status" value="isolation-due-to-travel" <%= isolationStatus === 'ISOLATION_DUE_TO_TRAVEL' ? 'checked' : '' %>>
      <label for="isolation-due-to-travel"><%= __("In isolation due to a recent international travel") %></label>
    </p>
    <p class="mb-2">
      <input required type="radio" id="isolation-due-to-contact" name="isolation-status" value="isolation-due-to-contact" <%= isolationStatus === 'ISOLATION_DUE_TO_CONTACT' ? 'checked' : '' %>>
      <label for="isolation-due-to-contact"><%= __("In isolation due to contact with an individual who has been exposed to the coronavirus.") %></label>
    </p>
    <p class="mb-2">
      <input required type="radio" id="isolation-due-to-government" name="isolation-status" value="isolation-due-to-government" <%= isolationStatus === 'ISOLATION_DUE_TO_GOVERNMENT_ORDERS' ? 'checked' : '' %>>
      <label for="isolation-due-to-government"><%= __("In isolation due to orders from the government") %></label>
    </p>
    <p>
      <input required type="radio" id="isolation-due-to-covid-19" name="isolation-status" value="isolation-due-to-covid-19" <%= isolationStatus === 'ISOLATION_DUE_TO_COVID_19' ? 'checked' : '' %>>
      <label for="isolation-due-to-covid-19"><%= __("In isolation due to COVID-19 infection") %></label>
    </p>
    </fieldset>

    <fieldset>
    <legend><%= __('Cigarette smoking habits:') %></legend>
    <p class="mb-2">
      <input required type="radio" id="currently-smoking" name="smoking-habits" value="currently-smoking" <%= smokingHabit === 'CURRENTLY' ? 'checked' : '' %>>
      <label for="currently-smoking"><%= __("I currently smoke") %></label>
    </p>
    <p class="mb-2">
      <input required type="radio" id="used-to-smoke" name="smoking-habits" value="used-to-smoke" <%= smokingHabit === 'USED_TO' ? 'checked' : '' %>>
      <label for="used-to-smoke"><%= __("I used to smoke") %></label>
    </p>
    <p>
      <input required type="radio" id="never-smoked" name="smoking-habits" value="never-smoked" <%= smokingHabit === 'NEVER' ? 'checked' : '' %>>
      <label for="never-smoked"><%= __("I have never smoked") %></label>
    </p>
    </fieldset>

    <label class="mb-0" for="body-temperature"><%= __('What is your current body temperature? (Celcius)') %></label>
    <p class="mb-4"><%= __('This field is optional') %></p>
    <input
      type="number"
      class="appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      step="0.1"
      placeholder="37.0"
      min="35"
      max="45"
      name="body-temperature"
      id="body-temperature"
      value="<%= bodyTemperature %>"
    >


    <h3 class="text-cvs-red text-xl font-bold m-4 ml-0 mt-8 mb-0"><%= __("How will my data be used?") %></h3>

    <p class="mt-0 mb-4"><%= __('Your health information is stored anonymously, and can not be used to identify you.')%><br />
      <a target="_blank" class="text-cvs-red hover:underline"href="<%= urls.privacyPolicy %>"><%= __('Our privacy policy can be found here')%></a>.
    </p>

    <p>
      <label class="checkbox" for="accept-privacy-policy">
        <input required type="checkbox" id="accept-privacy-policy" name="accept-privacy-policy" <%= passcode ? 'checked' : '' %>>
        <span><%= __(`I agree to my data being stored in accordance with the privacy statement`)%> (<%= __('required')%>)</span>
        <span class="checkmark"></span>
      </label>
    </p>

    <p>
      <label class="checkbox" for="accept-remember">
        <input type="checkbox" id="accept-remember" name="accept-remember">
        <span><%= __(`I agree to set a cookie so I can change my health condition later e.g. to report recovery/getting sick`)%> (<%= __('recommended')%>)</span>
        <span class="checkmark"></span>
      </label>
    </p>

    <ul class="mt-4">
      <li>
        <input type="hidden" name="passcode" value="<%= passcode %>" />
        <input class="inverse" type="submit" value="<%= __('Submit report') %>">
      </li>
    </ul>
  </form>
</section>

<section class="custom-section custom-section-about px-6 lg:px-0 py-12 lg:py-24 bg-white">
  <div class="custom-section-content mx-auto">
    <div class="section-about-header flex flex-row items-center mb-8">
      <img class="section-about-header__img h-24 w-24"
        src="/static/images/recovery-path.svg" alt="">
      <h2 class="section-about-header__title ml-4 text-cvs-red text-2xl md:text-3xl lg:text-4xl font-bold"><%= __('About the service') %></h2>
    </div>
    <p class="section-about-paragraph p-4 text-base lg:text-xl font-medium">
      <%= __(`In connection with the outbreak of COVID-19, many people have
            been tested for the virus, but due to lack of resources, the
            overwhelming majority have not been tested. It is therefore assumed
            that there are large missing numbers here in connection with the
            outbreak.`)%>
    </p>
    <p class="section-about-paragraph p-4 text-base lg:text-xl font-medium">
      <%= __(`Using self-report, you can get a better picture of how many
            people have symptoms without exposing health workers to potential
            contamination hazards and without using up valuable infection control
            equipment that is already in short supply. We at Bustbyte, well helped
            by other volunteers, have created this tool in response to`) %>
    <a class="text-cvs-red font-bold hover:underline"
      href="https://medium.com/@tomaspueyo/coronavirus-act-today-or-people-will-die-f4d3d9cd99ca "><%= __('this article') %></a>
    <%= __('as an attempt to chart these numbers.')%>
    </p>
    <p class="section-about-paragraph p-4 text-base lg:text-xl font-medium">
      <%= __(`This is not an official tool of the authorities, and for more
            information about the outbreak we refer to health authorities which
            always have updated information.`) %>
      <a class="text-cvs-red font-bold hover:underline" href="<%= __(`https://who.int`) %>"><%= __(`To WHO.int`) %></a>
    </p>
    <div class="hashtag-item-container flex flex-row justify-around" style="margin: 4rem 0 -14rem 0;">
      <div class="hashtag-item text-center flex flex-col items-center w-1/2">
        <div class="hashtag-item__title text-cvs-red font-medium text-lg md:text-3xl uppercase m-2"><%- __('#washyourhands') %></div>
        <img src="/static/images/washing-hands.svg" alt=""
          class="hashtag-item__img h-48 w-48 lg:h-64 lg:w-64 m-2">
      </div>
      <div class="hashtag-item text-center flex flex-col items-center w-1/2">
        <div class="hashtag-item__title text-cvs-red font-medium text-lg md:text-3xl uppercase m-2"><%- __('#stayindoors') %></div>
        <img src="/static/images/stay-home.svg" alt=""
          class="hashtag-item__img h-48 w-48 lg:h-64 lg:w-64 m-2">
      </div>
    </div>
  </div>
</section>

<script src="/static/form.js?v=<%= locals.cacheKey %>"></script>

<script>
  function hasSubmittedAlertOnClick() {
      document.getElementById('has-submitted-alert').style.display = 'none';
      window.localStorage.setItem("hasCrossedOutInfo", "true");
  }

  if ((window.localStorage.getItem("hasSubmittedProfile") === "true"
      || window.localStorage.getItem("isUsingPasscodeLink") === "true")
      && window.localStorage.getItem("hasCrossedOutInfo") !== "true"
      && window.location.pathname.indexOf("helsetilstand") === -1) {
      document.getElementById('has-submitted-alert').style.display = 'flex';
  }

  var symptoms = document.querySelectorAll('input[name^="symptom-"]:checked');
  if (symptoms != null && symptoms.length > 0) {
    document.getElementById('symptom-start-question').style.display = 'block';
  }

  changeTestResultDisplay(document.getElementById("been-tested-yes").checked);

  var hasPasscodeCookie = document.cookie.includes('passcode');
  document.getElementById('accept-remember').checked = hasPasscodeCookie;
</script>

<script>
  (function scrollCallToAction() {
    document.querySelectorAll('[href="#contribute"]').forEach(function(element) {
      element.addEventListener("click", function(event) {
        event.preventDefault();
        document.getElementById("contribute").scrollIntoView({ behavior: "smooth" });
      });
    });
  })()
</script>

<%- include('partials/footer', { home: true }) -%>
